

#main{
    width: 700px;height: 500px;
    background-color: #87ceeb;
    margin: 0 auto;
    /*하위 요소의 absolute 기준점 설정*/
    position: relative;

}
/*하위요소*/
.box{
    width: 100px;height: 70px;
    background-color: yellow;
    border-radius: 10px;
    /*컨텐츠 내용물 가로/세로 가운데 정렬*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}
.box1{  left:300px; top:50px;   }
.box2{  left:150px; top:120px;  }
.box3{  left:150px; top:250px;  }
.box4{  left:300px; top:330px;  }
.box5{  left:450px; top:250px;  }
.box6{  left:450px; top:120px;  }