* {
    padding: 0px;
    margin: 0px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    text-decoration: none;
}

#header1 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#header1>ul>#point {
    background-color: #f5ff6b;
    align-content: center;
}

#header1>ul>li {
    font-size: 13px;
    align-items: center;
    margin-right: 20px;
    
}

#header1>ul {
    display: flex;
    justify-content: flex-end;
}


#header2>ul>li {
    font-size: 13px;
    align-items: center;
    padding-left: 10px;
    

}
#menu1 {
   color: #db1b1b;
   font-weight: bold;

}
#menu2 {
    color: #db1b1b;
    
 
 }
#header2>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 225px;

}

#header2 {

    background-color: white;
    display: flex;
    text-align: center;
    position: sticky;
    top: 0px;
    /*고정할 위치*/
    height: 50px;
    z-index: 100;


}

#header2 .submenu {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    margin: 10px;
    padding-bottom:8px;

}

#header2>ul>.menu:hover .submenu {

    display: block;
    
}

#searchbox {

    display: flex;
    margin-bottom: 5px;
    width: 200px;
    border-bottom: black solid 3px;
    margin-right: 225px;


}

#textbox {
    border: none;

}


/*본문*/


#bestlist {
    display: flex;

}

#mainimg {
    display: flex;
    justify-content: center;
}

#mainwrite1 {
    text-align: center;
    padding: 80px;
}

#mainwrite2 {
    text-align: center;
    padding: 30px;
    color: #999999;
}

#mainwrite3>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;

}

#mainwrite3>ul>li {
    padding: 0px 50px;
    text-align: center;
    font-size: 14px;


}

.bar {
    padding-left: 90px;
    padding-right: 10px
}

#bestlist {
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.listitem {
    background-color: white;
    text-align: start;
    width: 280px;
    margin: 5px 0px;
    border-radius: 10px;
    padding: 10px;
    

}

.gif {
    width: 285px;
    height: 367px;
}

.listname{
    margin-top: 10px;
    font-size: 13px;

}
.listsize{
    font-size: 11px;
    color: #999999;
}
.bigitem{
    font-size: 12px;
    font-weight: bold;
    color: #db1b1b;
}
.listprice{font-size: 12px;
    text-decoration-line: line-through;
    color: #999999;}
.saleprice{
    font-size: 12px;
    color: #db1b1b;

}
.blank{
    font-size: 5px;
}

/*푸터*/

#footer1 {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 250px;
    padding-top: 60px;
    font-size: 14px;
}


#footer2 {
    text-align: center;
    color: lightslategrey;
    padding-top: 10px;
    padding-bottom: 100px;
    font-size: 14px;
}