@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

*{  
    /*border: 1px solid black;*/
    padding : 0px; margin : 0px;
}
a{ color: black; text-decoration: none;}
li{ list-style-type: none;}

body{ font-family: "Noto Sans KR";}

#mg_main{
    width: 1200px;
    margin: 0px auto;

}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.mg_main_img{
    margin-left: 5px; 
margin-top: 50px;}
 
#mg_mainbot {
    display: flex;
    justify-content: center;
    color:#6974a3;
    font-size: 13px;
    margin-bottom: 61px;

}
#mg_mainbot>span {
    color:#6974a3;
    margin-right: 10px;
    font-size: 13px;
    margin-left: 5px;

  
}
#mg_mainbot>.dot1 {
    color:#051766;
    margin-right: 10px;
    font-size: 13px;
    margin-left: 5px;

  
}

#mg_main1>h1{
    font-weight:400;
    font-size:41px
}
/*main아이템*/ 
/*쇼핑몰때 처럼 각 아이템들의 width를 설정하고 flex하고 flex-wrap을 wrap으로 설정하여
총 width가 1200에 맞추어 정렬되고 코드 작성 */
.main2_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1350px;
    margin-bottom: 50px;
    
}

.item_part{
    width: 378.6px;
}

.listname{
    font-size: 38px;
    font-weight:400;
    margin: 24px 0px 16px;
}
.list_disc{
    color:#555;
    font-size: 16px;
}

/*공지사항*/
.notice_start{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    
    padding-bottom:18px;
    
   

}
.main2_notice{margin-bottom: 64px;
}

.notice_list{
   padding: 24px 12px;
   border-top: 1px solid#d9d9d9;
   border-bottom: 1px solid #d9d9d9;
   color: #555555;
   padding-left: 30px;
   
  
   
}
.notice_list>a{
    display: flex;
    justify-content: space-between;   

}
.noticepoint{
    background-color: #f7f7f7;
}
#noticepoint1{
    border-top: 1px solid black ;
}
#noticepoint2{
    text-decoration: underline;
}
#noticepoint2:active{
    color: black;
    
}

